.about{
    &-title{
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.5rem;
        margin-bottom: .5rem;
        color: var(--gray-5);
        font-family: Solway, Tahoma;
    }

    &-img{
        margin-bottom: .5rem;
        box-shadow: 0 0 1px var(--gray-2);
    }

    &-description{
        color: var(--gray-4);
        line-height: 1.25rem;
        margin-bottom: 1rem;
        font-size: .875rem;
    }
    &-social{
        &-wrapper{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        &-link{
            margin: 0 .125rem;
            color: var(--gray-5);
            transition: all 0.2s linear;
            &:hover{
                color: var(--primary);
            }
        }
    }
}