.categories{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        margin: 0;
    }
    a{
        padding: .5rem 0;
        line-height: 1.25rem;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        display: block;
        color: var(--gray-4);
        transition: all 0.1s linear;
        &:hover{
            color: var(--primary);
        }
    }

    &-title{
        text-transform: uppercase;
        font-family: Solway, Tahoma;
        font-weight: 700;
        line-height: 1.5rem;
        color: var(--gray-5);
        padding-bottom: .25rem;
    }

    & .active{
        color: var(--primary);
    }
}