
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .main {
    justify-content: center;
    align-items: flex-start;
    margin: 4rem auto 4rem auto;
    width: 100%;
    max-width: var(--container-size);
  }
  