
  .sticky-nav {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: var(--white);
    transition: all 0.2s ease-in-out;

    &.moving{
      padding: .5rem 1rem;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);;
    }
  }

  .sticky-nav-button {
    color: var(--gray-3);
    border-radius: .125rem;
    padding: 0.75rem;
    margin-left: .5rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.15s linear;


    &:hover, &:active{
      color: var(--gray-5);
    }

    &.active{
      color: var(--gray-5);
    }
  }
  
  
  .sticky-nav-wrapper{
    max-width: var(--container-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .sticky-nav-title{
      color: var(--primary);
      text-decoration: none;
      font-weight: 700;
      font-family: Solway, Tahoma;
  }