.hero{
    &-bg{
        position: relative;
        background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 35%,
        rgba(0,0,0,0.25) 100% ),
        url('../images/hero-background.jpg') no-repeat center;
        background-size: cover;
        height: 25rem;
        width: 100%;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
        margin-bottom: 3rem;

        h2{
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: .5rem;
        }
        p{
            line-height: 1.25rem;
        }
    }

    &-name{
        text-transform: uppercase;
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 700;
        margin-bottom: 0;
    }
}